.CompleteButtons {
	display: flex;
	flex-direction: column;
	height: 100%;
	border-radius: 0;
}

.CompleteButtons button {
	height: 50px;
	border: 1px solid black;
	background: seagreen;
}

.CompleteButtons button:focus {
	outline: 0;
}

.CompleteButtons button:hover {
	background: green;
}
